* {
    box-sizing: border-box;
}

body{
    background-color: beige;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.outercase {
    width: 35vw;
    height: 80vh;
    background-color:lightcoral;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 5%;
    border: 1px solid black;
    box-shadow: 10px 10px 10px 10px rgb(212, 117, 117);
    
}

.display {
    width: 80%;
    height: 40%;
    border: 1px solid black;
    margin-top: 5%;
    border-radius: 5%;
    background-color:lightsteelblue;
    font-size: 7vh;
    display: flex;
    flex-flow: row wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 -3em 3em rgba(7, 71, 90, 0.3);
}

.keysHolder{
    width: 80%;
    height: 55%;
    margin: 1% auto 2% auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1% 1%;
}

.keysHolder > button {
    width: 23%;
    height: 18%;
    border-radius: 10%;
    font-size: large;
    
}


button:active{
    box-shadow: inset 0 -3em 3em rgba(216, 150, 181, 0.3);
}